/* Catalog */
.theme-catalog div.thread .replies {
  margin-left: 5px;
  margin-right: 5px;
}
.theme-catalog #Grid div.thread {
  margin: 2px 1px 0 0;
}
/* Native Catalog */
select#sort_by,
select#image_size {
  margin-top: 4px;
}
.theme-catalog div.threads {
  padding: 10px 0 !important;
}
/* Catalog Comment */
:root.catalog-justify .theme-catalog .replies {
  text-align: justify !important;
}
/* Background */
:root.catalog-background .theme-catalog #Grid div.thread {
  background: rgba(var(--sc-mainColor-rgb), var(--sc-replyOp)) !important;
}
:root.rounded-corners.catalog-background .theme-catalog #Grid div.thread {
  border-radius: 3px !important;
}
:root.catalog-background .theme-catalog .replies {
  margin: 0 5px 5px 5px;
}
:root.catalog-background .theme-catalog img.thread-image {
  margin-top: 8px;
}
/* Thumbnails */
:root.catalog-thumbsize .theme-catalog img.thread-image {
  width: 150px !important;
  height: 150px !important;
  max-width: none !important;
  max-height: none !important;
}
:root.catalog-thumbsize .theme-catalog div.grid-size-large img.thread-image {
  width: 250px !important;
  height: 250px !important;
}
