/* Hide things we don't want */
:root.hide-board-name header h1,
:root.hide-board-name header div.subtitle,
:root.hide-banner img.board_image,
.tab-select:not(:checked)+div,
iframe[src='about:blank'],
footer,
div.styles,
#password,
:root.show-file-info p.fileinfo .unimportant,
form[name=postcontrols] .post input[type=checkbox],
.post-hover input[type=checkbox],
:root.qr-controls #quick-reply a.close-btn,
:root.show-form form[name=post]:not(#quick-reply),
hr:not(#unread-line),
:root.hide-navlinkbot #thread-links,
:root.hide-navlinktop div.banner,
:root.hide-navlinks div.banner,
:root.hide-navlinks #thread-links,
[hidden] {
  display: none;
}

/* Get rid of Chrome input outlines, and link outlines */
input:focus,
textarea:focus,
select,
a {
  outline: 0 !important;
}
