/* Reset 4chan hardcoded fonts */
input,
select,
textarea,
button,
::placeholder,
form,
span,
#link-quick-reply,
.boardlist,
header h1 {
  font-family: inherit !important;
  font-size: inherit !important;
}
/* Base font */
body {
  font-family: " + ($SS.conf["Custom Font"] ? "'" + $SS.conf["Custom Font"] + "'" : $SS.formatFont($SS.conf["Font Family"])) + " !important;
  font-size: " + $SS.conf["Font Size"] + "px !important;
}
.post-menu {
  font-size: " + $SS.conf["Font Size"] + "px !important;
}
/* Slightly smaller */
p.fileinfo,
span.omitted,
.theme-catalog .replies>strong {
  font-size: 82% !important;
}
/* Board title -> larger */
header h1 {
  font-weight: normal !important;
  font-size: " + (($SS.conf["Font Size"] < 13) ? 22 : 26) + "px !important;
}
/* Code blocks */
pre span {
  font-family: monospace !important;
  font-size: medium !important;
}
/* Header bar & board list -> slightly smaller */
body>.boardlist {
  font-size: " + ($SS.conf["Font Size"] - 1) + "px !important;
}
@media (min-width: 1280px) and (max-width: 1920px) {
  .boardlist {
    word-spacing: " + (($SS.conf["Font Size"] < 14) ? -1 : -2) + "px;
  }
}
/* Backlinks */
:root:not(.backlink-icon) p.intro .mentioned a {
  font-size: " + $SS.conf["Backlink Font Size"] + "px !important;
}
/* Options panels + others -> capped to not break */
.tab-label,
.options-button,
.theme-preview,
#oneechan-options,
#options_div,
#alert_div,
a.options-button,
div.pages,
#link-quick-reply {
  font-size: " + (($SS.conf["Font Size"] >= 18) ? 18 : ($SS.conf["Font Size"] <= 9 ? 9 : $SS.conf["Font Size"])) + "px !important;
}
/* UI font size */
#quick-reply input[type=submit],
#quick-reply label,
#quick-reply .handle,
select:not(#oneechan-options select, #add-theme select),
#quick-reply .handle::before,
button.outline {
  font-size: " + $SS.conf["UI Font Size"] + "px !important;
}
/* QR extra */
#quick-reply input[type=submit],
#quick-reply label {
  text-transform: uppercase;
}
#quick-reply label {
  overflow: hidden;
  padding-bottom: 2px;
}
/* Text decoration */
:root.underline-disabled a {
  text-decoration: none !important;
}
#thread-interactions a {
  text-decoration: underline;
}
:root.underline-quotes div.body a[onclick*='highlightReply'],
:root.underline-quotes div.body a[onclick*='citeReply'],
:root.underline-quotes div.body a.quotelink,
:root.underline-quotes p.intro .mentioned a {
  text-decoration: underline !important;
}
a.options-button,
#oneechan-version a {
  text-decoration: none !important;
}
/* Font weight */
span.name,
span.subject,
.option.header .option-title,
.tab-label.selected {
  font-weight: " + ($SS.conf["Bitmap Font"] ? "normal" : "bold") + " !important;
}
.tab-label:not(.selected):not(:hover) {
  font-weight: normal;
  opacity: 0.85;
}
form table th {
  font-weight: bold;
}
/* Font Style */
span.omitted {
  font-style: " + ($SS.conf["Bitmap Font"] ? 'none' : 'italic') + ";
}
